:root{
	/* colors */
	--light-coral: #FF7477;
	--pastel-pink: #E69597;
	--silver-pink: #CEB5B7;
	--powder-blue: #B5D6D6;
	--celeste: #9CF6F6;
	--olive: #3D9970;
	--text-black: #1F1F1F;

	background-color: white;
	font-family: "Roboto", "Noto Sans", sans-serif;
	color: var(--text-black);
	line-height: 2;
}

.ab{
	border: 2px red dashed;
}

#flow-canvas-container{
	display: none;
	flex-direction: row;
	justify-content: flex-start;
}
main{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:focus{
	outline: none;
}

#flowtypes-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-width: 20vw;
	height: 50vh;
	margin-left: 10px;
	overflow-x: auto;
	-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.flowcard{
	margin: 5px;
	padding: 5px;
}

@media only screen and (max-width: 850px){
	#flowtypes-container{
		flex-direction: row;
		height: auto;
	}
	main{
		flex-direction: column;
	}
	#flow-canvas-container{
		flex-direction: column;
	}
}
